if SHIELD_RAYWING_LEFT

config ZMK_KEYBOARD_NAME
    default "Raywing"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_RAYWING_LEFT || SHIELD_RAYWING_RIGHT

config ZMK_SPLIT
    default y

endif